.experience{
    box-sizing: border-box;
    @media screen and (min-width: 1600px) {
        display: flex;
        align-items:center ;
        flex-direction: column;
    }
    &_container{
        display: flex;
        flex-direction: column;
        margin: 96px 192px 0 192px;
        height:600px;
        border-radius: 20px;
        overflow: hidden;
        // backdrop-filter: blur(20px);
        @media screen and (min-width: 1600px) {
            width:65%;
            height:70vh;
        }
        @media screen and (max-width: 1200px) {
            margin: 96px 96px 0 96px;
        }
        @media screen and (max-width: 1023px) {
            margin: 96px 48px 0 48px;
        }
        @media screen and (max-width: 767px) {
            margin: 96px 24px 0 24px;
        }
        @media screen and (max-width: 340px) {
            margin: 96px 12px 0 12px;
        }
    }
    &_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        background: #001321;
        padding:12px 24px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        &_title{
            color:rgba(76, 76, 76, 0.76);
        }
    }
    &_content{
        position: relative;
        display: flex;
        width: 100%;
        height:100%;
        overflow-x:hidden;
        background: linear-gradient(45deg, rgb(67 217 173 / 26%) 0%, rgb(0 161 177 / 26%) 100%);
        @media screen and (max-width: 767px) {
            background: none;
        }
        &_accordeon{
            width: 400px;
            background-color: rgba(4, 37, 49, 0.77);
            border-bottom-left-radius: 20px;
            padding:24px;
            opacity: 1;
            overflow: hidden;
            @media screen and (min-width: 1600px) {
                font-size: 20px;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                border-bottom-right-radius: 20px;
                transition: 0.3s ease-in-out;
            }
            &_category{
                &_title{
                    display: flex;
                    align-items: center;
                    font-weight: 300;
                    &_row{
                        display: flex;
                        align-items: center;
                    }
                    &_folder{
                        display: flex;
                        align-items: center;
                        margin-right: 8px;
                    }
                }
                &:nth-child(1) > button > span > svg > path{
                    color:#355258;
                }
                &:nth-child(2) > button > span > svg > path{
                    color:#473b6f;
                }
                &:nth-child(3) > button > span > svg > path{
                    color:#154325;
                }
            }
            &_subcategory{
                transition: 0.5s ease-in-out;
                &_title{
                    display: flex;
                    align-items: center;
                    opacity:0.7;
                    font-weight: 200;
                    transition: 0.3s ease-in-out;
                    margin-left: 16px;
                    &_file{
                        display: flex;
                        align-items: center;
                        margin-right: 8px;
                        color:#72949b;
                    }
                }
                
            }
            .active{
                color:var(--primary-color);
                text-shadow: var(--primary-color) 0px 0px 5px;
            }
        }
        &_contenu{
            position: relative;
            right:0;
            width: 100%;
            border-bottom-right-radius: 20px;
            overflow-y: scroll;
            padding:64px 48px 48px 48px;
            @media screen and (min-width: 1600px) {
                padding:64px 48px 48px 48px;
            }
            @media screen and (max-width: 1200px) {
                padding:64px 24px 48px 24px;
            }
            @media screen and (max-width: 1023px) {
                padding:64px 48px 48px 48px;
            }
            @media screen and (max-width: 767px) {
                position: absolute;
                border-bottom-left-radius: 20px;
                right:calc(-100% - 100px);
                transition: 0.3s ease-in-out;
                height:100%;
                background: linear-gradient(45deg, rgb(67 217 173 / 26%) 0%, rgb(0 161 177 / 26%) 100%);
            }
            @media screen and (max-width: 340px) {
                padding:64px 24px 48px 24px;
            }
            &_container{
                padding-bottom: 24px;
                margin-bottom: 24px;
                border-bottom: solid 1px var(--primary-color);
                &:last-child{
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: none;
                }
                ul{
                    li{
                        margin-bottom: 8px;
                    }
                }
            }
            &_file_title{
                position: absolute;
                top:16px;
                left: 50%;
                transform: translateX(-50%);
                color:var(--primary-color);
                text-shadow: var(--primary-color) 0px 0px 5px;
                font-weight: 300;
                margin-bottom: 24px;
                opacity: 0.8;
                font-size: 18px;
            }
            &_title{
                color:var(--primary-color);
                text-shadow: var(--primary-color) 0px 0px 5px;
                margin-bottom: 16px;
                font-weight: 300;
                span{
                    &:first-child{
                        margin-right: 4px;
                    }
                    &:last-child{
                        margin-left: 4px;
                    }
                }
            }
            &_text{
                span{
                    margin-right: 8px;
                    color:var(--primary-color);
                    text-shadow: var(--primary-color) 0px 0px 5px;
                    font-weight: 700;
                }
            }
            &_close{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top:18px;
                left: 18px;
                padding:2px;
                background: var(--primary-color);
                border-radius: 50%;
                box-shadow: var(--primary-color) 0px 0px 10px;
                path{
                    color:black;
                }
                @media screen and (min-width: 768px) {
                    display: none;
                }
            }
            @media screen and (min-width: 1600px) {
                font-size:18px;
            }
        }
    }
}

.experience_content_contenu::-webkit-scrollbar {
    width: 3px; /* width of the entire scrollbar */
}
.experience_content_contenu::-webkit-scrollbar-track{
    background: transparent; /* color of the tracking area */      
}
.experience_content_contenu::-webkit-scrollbar-thumb{
    background-color: #196468; /* color of the scroll thumb */
}

.competences .experience_content_contenu_container,
.languages .experience_content_contenu_container{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.competences{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 48px;
    .experience_content_contenu_container{
        flex: 0 0 44%;
        @media screen and (max-width: 1023px) {
            flex: 0 0 100%;
        }
    }
}

.languages{
    .experience_content_contenu_container{
        display: flex;
        justify-content: space-between;
        width:300px;
        @media screen and (max-width: 480px) {
            width:auto;
            flex-direction: column;
            margin-bottom: 24px;
        }
        div{
            display: flex;
            span{
                opacity:0.5;
                &:first-child{
                    margin-right: 4px;
                }
            }
            p{
                margin-right: 4px;
                text-shadow: var(--primary-color) 0px 0px 5px;
            }
            .level{
                color:var(--primary-color);
                font-weight: 700;
            }
        }
    }
}