.code{
    margin:96px 0;
    padding:48px 0;
    background-color: rgb(1 30 53 / 55%);
    @media screen and (max-width: 1200px) {
        padding:24px 0;
    }
    &_line{
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        padding: 4px 192px;
        height:100%;
        @media screen and (max-width: 1200px) {
            align-items: start;
            padding:8px 96px;
        }
        @media screen and (max-width: 1023px) {
            align-items: start;
            padding:8px 48px;
        }
        @media screen and (max-width: 767px) {
            padding:8px 24px;
        }
        @media screen and (max-width: 340px) {
            padding:8px 12px;
        }
        &:hover{
            background-color: rgb(255 255 255 / 5%);
        }
        &:last-child{
            margin-bottom: 0;
        }
        &_num{
            display: flex;
            justify-content: end;
            width:30px;
            margin-right: 12px;
            opacity: 0.5;
            font-family: 'Press Start 2P';
            font-size:12px;
            line-height: 2;
            @media screen and (max-width: 1023px) {
                font-size: 10px;
            }
            @media screen and (max-width: 767px) {
                font-size: 8px;
            }
            @media screen and (max-width: 340px) {
                font-size: 6px;
            }
        }
        &_txt{
            font-size: 20px;
            opacity: 0.3;
            transition: 1s ease-in-out;
            width: 100%;
            &:hover{
                opacity: 1;
                transition: 0s ease-in-out;
            }
            @media screen and (min-width: 1900px) {
                font-size: 24px;
            }
            @media screen and (max-width: 1023px) {
                font-size: 18px;
            }
            @media screen and (max-width: 767px) {
                font-size: 16px;
            }
            @media screen and (max-width: 480px) {
                font-size: 14px;
            }
            @media screen and (max-width: 340px) {
                font-size: 12px;
            }
        }
    }
}