.portfolio{
    @media screen and (min-width: 1600px) {
        display: flex;
        align-items:center ;
        flex-direction: column;
    }
    &_container{
        display: flex;
        flex-direction: column;
        margin: 96px 192px 0 192px;
        border-radius: 20px;
        height:600px;
        background: rgb(1 30 53 / 55%);
        overflow: hidden;
        @media screen and (min-width: 1600px) {
            width:65%;
            height:70vh;
        }
        @media screen and (max-width: 1200px) {
            margin: 96px 96px 0 96px;
        }
        @media screen and (max-width: 1023px) {
            margin: 96px 48px 0 48px;
        }
        @media screen and (max-width: 767px) {
            margin: 96px 24px 0 24px;
        }
        @media screen and (max-width: 340px) {
            margin: 96px 12px 0 12px;
        }
        &_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:100%;
            background: #001321;
            padding:12px 24px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            &_title{
                color:rgba(76, 76, 76, 0.76);
            }
        }
        &_content{
            position: relative;
            display: flex;
            height:100%;
            @media screen and (max-width: 767px) {
                flex-direction: column;
                height:100%;
            }
            &_toggle_popup{
                position: absolute;
                top:22px;
                left:43px;
                z-index: 6;
                display: none;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                border-radius: 20px;
                background-color: #236d78;
                filter: drop-shadow(0 0 4px #236d78);
                border: 1px solid transparent;
                width: 40px;
                height: 25px;
                transition: 0.3s ease-in-out;
                svg{
                    path,circle{
                        stroke: var(--primary-color);
                    }
                }
                @media screen and (max-width: 767px) {
                    display: flex;
                }
            }
            &_languages{
                width:250px;
                background-color: rgb(4 37 49 / 77%);
                padding:48px;
                @media screen and (max-width: 1023px) {
                    padding:32px;
                }
                @media screen and (max-width: 767px) {
                    padding:64px 48px 48px 48px;
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width:100%;
                    z-index: 5;
                    transition: 0.3s ease-in-out;
                }
                &_contenu{
                    .language_active{
                        color: var(--primary-color);
                        span{
                            border-color: var(--primary-color);
                            box-shadow: var(--primary-color) 0 0 4px 0px;
                        }
                    }
                    & > div{
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        transition: 0.3s ease-in-out;
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: #206d78 0 0 4px 0px;
                            border: 2px solid #206d78;
                            border-radius: 50px;
                            height:30px;
                            width:30px;
                            margin-right: 8px;
                            transition: 0.3s ease-in-out;
                            svg{
                                filter: drop-shadow(0 0 12px #206d78);
                                path{
                                    stroke-width: 3px;
                                    stroke: #206d78;
                                }
                            }
                            .open svg{
                                display: block;
                                width:10px;
                                height:10px;
                            }
                        }
                    }
                }
            }
            &_projets{
                flex-basis: 45%;
                padding:32px 48px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width:3px;
                }
                &::-webkit-scrollbar-track{
                    background: #011627;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #09414b;
                }
                @media screen and (min-width: 1600px) {
                    padding:32px 48px;
                }
                @media screen and (max-width: 1023px) {
                    padding:24px 48px;
                }
                @media screen and (max-width: 767px) {
                    padding:0;
                    flex-basis: none;
                    height:100%;
                }
                &_contenu{
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 12px;
                    row-gap: 12px;
                    align-items: center;
                    justify-content: space-between;
                    width:100%;
                    height:auto;
                    overflow-x: hidden;
                    padding-bottom: 48px;
                    &::-webkit-scrollbar {
                        height:3px;
                    }
                    &::-webkit-scrollbar-track{
                        background: #011627;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: #09414b;
                    }
                    @media screen and (max-width: 767px) {
                        flex-wrap: nowrap;
                        flex-basis: auto;
                        overflow-x: auto;
                        overflow-y: hidden;
                        width:100%;
                        height:auto;
                        padding: 48px 0 48px 48px;
                        border-bottom: 2px solid #206d78;
                    }
                    @media screen and (max-width: 320px) {
                        padding: 48px 0 24px 24px;
                    }
                    .projet_active svg:first-child path{
                        stroke: var(--primary-color);
                    }
                    & > div{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 75px;
                        @media screen and (min-width: 1600px) {
                            width: 100px;
                        }
                        @media screen and (max-width: 767px) {
                            width:100px;
                            &:last-child{
                                margin-right: 48px;
                            }
                        }
                        @media screen and (max-width: 320px) {
                            width: 75px;
                            &:last-child{
                                margin-right: 24px;
                            }
                        }
                        svg{
                            display: block;
                            height:auto;
                            width: 75px;
                            @media screen and (min-width: 1600px) {
                                width: 100px;
                            }
                            @media screen and (max-width: 767px) {
                                width: 100px;
                            }
                            @media screen and (max-width: 320px) {
                                width: 75px;
                            }
                            path{
                                transition: 0.3s ease-in-out;
                                fill: rgb(26 75 85 / 42%);
                                stroke: rgb(26 75 85 / 78%);
                                stroke-width: 5px;
                            }
                        }
                        p{
                            text-align: center;
                        }
                    }
                }
            }
            &_details{
                flex-basis: 55%;
                padding:48px;
                position: relative;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-track{
                    background: #011627;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #09414b;
                }
                @media screen and (max-width: 1023px) {
                    padding:32px;
                }
                @media screen and (max-width: 767px) {
                    padding: 48px;
                    height:100%;
                    flex-basis: none;
                }
                @media screen and (max-width: 320px) {
                    padding: 24px;
                }
                &_contenu{
                    padding-bottom: 48px;
                    height:auto;
                    @media screen and (max-width: 767px) {
                        padding-bottom: 48px;
                    }
                    &_image{
                        width:100%;
                    }
                    h3{
                        font-size: 20px;
                        font-weight: 300;
                        margin: 24px 0;
                    }
                    p{
                        font-weight: 200;
                    }
                }
            }
            &_separateur{
                width: 2px;
                background-color: #206d78;
                box-shadow: #206d78 0px 0px 6px 0px;
                // @media screen and (max-width: 767px) {
                //     height:2px;
                //     width:100%;
                // }
            }
        }
    }
}

.separateur_resp{
    @media screen and (max-width: 767px) {
        display: none;
    }
}

