h1{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        color: rgb(67 217 173 / 26%);
        text-shadow: #00ff00 0px 0px 5px;
        font-weight: 200;
        font-size: 20px;
    }
    p {
        opacity: 0;
        animation: fadeInOut 1s linear infinite;
        font-weight: 100;
    }
    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
}