h1{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        color: var(--primary-color);
        text-shadow: var(--primary-color) 0px 0px 5px;
        font-weight: 200;
        font-size: 20px;
        opacity:0.4;
        &:first-child{
            margin-right: 4px;
        }
        &:last-child{
            margin-left: 4px;
        }
    }
    p {
        opacity: 0;
        animation: fadeInOut 1s linear infinite;
        font-weight: 100;
    }
    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
}

