.expertise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 400px;
    margin: 96px 192px 400px 192px;
    @media screen and (max-width: 1200px) {
        margin: 96px 96px 400px 96px;
    }
    @media screen and (max-width: 1023px) {
        margin: 96px 48px 400px 48px;
    }
    @media screen and (max-width: 767px) {
        margin: 96px 24px 400px 24px;
    }
    @media screen and (max-width: 340px) {
        margin: 96px 12px 400px 12px;
    }
    &_container{
        width:450px;
        transition: 0.5s ease-in-out;
        opacity:0;
        transform: translateX(0px) translateY(0px) perspective(750px) rotateY(0deg) scale(1) rotateX(0deg);
        @media screen and (min-width: 1600px) {
            width:500px;
        }
        @media screen and (max-width: 1200px) {
            width:450px;
        }
        @media screen and (max-width: 1023px) {
            width:400px;
        }
        @media screen and (max-width: 480px) {
            width:100%;
        }
        &_left{
            transform: translateX(calc(100vw - (100vw/2) - (100%))) translateY(100px) perspective(800px)rotateY(-25deg) scale(1) rotateX(10deg);
            opacity:1;
            @media screen and (max-width: 1200px) {
                transform: translateX(calc(100vw - (100vw/2) - 100% + 100px)) translateY(100px) perspective(800px)rotateY(-25deg) scale(1) rotateX(10deg);
            }
            @media screen and (max-width: 767px) {
                transform: translateX(0) translateY(100px) perspective(800px)rotateY(-25deg) scale(1) rotateX(10deg);
            }
        }
        &_right{
            transform: translateX(calc(-100vw + (100vw/2) + (100%))) translateY(100px) perspective(800px) rotateY(25deg) scale(1) rotateX(10deg);
            opacity:1;
            @media screen and (max-width: 1200px) {
                transform: translateX(calc(-100vw + (100vw/2) + 100% - 100px)) translateY(100px) perspective(800px) rotateY(25deg) scale(1) rotateX(10deg);
            }
            @media screen and (max-width: 767px) {
                transform: translateX(0) translateY(100px) perspective(800px)rotateY(25deg) scale(1) rotateX(10deg);
            }
        }
        &_background{
            background: linear-gradient(45deg, rgb(67 217 173 / 26%) 0%, rgb(0 161 177 / 26%) 100%);
            border-radius: 20px;
        }
        &_title{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(0 18 33 / 62%);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding:16px 0;
            h3{
                color: #206d78;
                font-size: 20px;
                font-weight: 500;
                text-shadow: 0px 0px 2px #206d78;
                @media screen and (min-width: 1600px) {
                    font-size: 24px;
                }
            }
            svg{
                margin-right: 12px;
                height:32px;
                width:32px;
                // filter: drop-shadow(0px 0px 2px #206d78);
                path{
                    stroke: #206d78;
                    fill: transparent;
                    border-width: 1px;
                }
            }
        }
        &_content{
            padding:24px;
            @media screen and (max-width: 480px) {
                padding:16px;
            }
            @media screen and (max-width: 320px) {
                padding:12px;
            }
            p{
                font-size: 16px;
                line-height: 1.5;
                @media screen and (min-width: 1600px) {
                    font-size: 20px;
                }
            }
        }
    }
}