.header{
    border-bottom:solid 1px rgba(76, 76, 76, 0.76);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:12px 24px;
    background: #001321;
    &_title{
        color:rgba(76, 76, 76, 0.76);
    }
}