.navbar{
    background: #001321;
    ul{
        display: flex;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &_link{
        a{
            border-top: solid 1.5px transparent;
            display: block;
            padding:15px 65px;
            @media screen and (max-width: 1023px) {
                padding:15px 48px;
            }
            @media screen and (max-width: 767px) {
                padding:15px 24px;
            }
        }
        .active{
            border-top-color:var(--primary-color);
            ;
            background: #011627;
        }
    }
}