.contact {
    box-sizing: border-box;
    @media screen and (min-width: 1900px) {
        display: flex;
        align-items:center ;
        flex-direction: column;
    }
    &_container{
        display: flex;
        justify-content: center;
        margin: 96px 192px;
        height:600px;
        border-radius: 20px;
        background: linear-gradient(45deg, rgb(67 217 173 / 26%) 0%, rgb(0 161 177 / 26%) 100%);
        @media screen and (min-width: 1900px) {
            width:70%;
            height:75vh;
        }
        @media screen and (max-width: 1200px) {
            margin: 96px;
        }
        @media screen and (max-width: 1023px) {
            margin: 96px 48px;
        }
        @media screen and (max-width: 767px) {
            margin: 96px 24px;
            flex-direction: column;
            height:auto;
            order: 2;
        }
        @media screen and (max-width: 340px) {
            margin: 96px 12px;
        }
        &_form {
            width:60%;
            background-color: rgb(0 18 33 / 62%);
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            padding:48px;
            @media screen and (max-width: 767px) {
                width:100%;
                order: 1;
                border-radius: 20px;
            }
            &_checkbox {
                &_button{
                    background: red;
                }
                .checked{
                    background: green;
                }
                input[type="checkbox"]{
                    appearance: none;
                }
            }
        }
        &_details{
            width:40%;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            padding:48px;
            @media screen and (max-width: 767px) {
                width:100%;
                border-radius: 20px;
            }
        }
    }
}





