.about{
    &_to_top{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: linear-gradient(45deg, rgb(67 217 173 / 26%) 0%, rgb(0 161 177 / 26%) 100%);
        bottom:40px;
        right:40px;
        border-radius: 50%;
        svg{
            height:40px;
            width:40px;
            transform: rotate(-90deg);
            path{
                color:rgb(0 18 33 / 62%);
            }
        }
    }
}