.mac_buttons{
    display: flex;
    &:hover{
        span img,
        a img{
            opacity:0.7;
        }
    }
    span,
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width:11px;
        height:11px;
        border-radius: 50px;
        margin-right: 10px;
        img{
            width:9px;
            height:9px;
            object-fit: cover;
            opacity:0;
        }
        &:nth-child(1){
            background: red;
        }
        &:nth-child(2){
            background: orange;
        }
        &:nth-child(3){
            background: green;
            margin-right: 0;
            img{
                transform: rotate(-45deg);
            }
        }
    }
}