.background{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width: 100%;
    &_color{
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        height:100%;
        width: 100%;
        background:#011627;
    }
    &_filtre{
        position: absolute;
        top:0;
        left:0;
        z-index: 3;
        height:100%;
        width: 100%;
        backdrop-filter: blur(0px);
    }
    &_shapes{
        height:100%;
        width: 100%;
        .shape{
            z-index: 2;
            width: 500px;
            height: 200px;
            opacity: 0.7;
            position: fixed;
            border-radius: 100px;
            animation-duration: 15s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            &:nth-child(1){
                top: 50%;
                right: 170px;
                background-color: #43D9AD;
                animation-name: shape_animation_1;
                transform: translateY(-50%) rotate(326deg);
                transform-origin: center center;
                @media screen and (max-width: 767px) {
                    right: -170px;
                }
            }
            &:nth-child(2){
                top: 60%;
                right: 150px;
                background-color: #4D5BCE;
                animation-name: shape_animation_2;
                transform: translateY(-50%) rotate(30deg);
                transform-origin: center center;
                @media screen and (max-width: 767px) {
                    right: -150px;
                }
            }
        }
    }
    @keyframes shape_animation_1 {
        0% {
            transform: translateY(-50%) rotate(326deg);
        }
        100% {
            transform: translateY(-50%) rotate(686deg);
        }
    }
    
    @keyframes shape_animation_2 {
        0% {
            transform: translateY(-50%) rotate(390deg);
        }
        100% {
            transform: translateY(-50%) rotate(30deg);
        }
    }    
}